@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background-color: #eaeaea;
}

/* p {
  padding: 0px;
  margin: 0px;
} */

/* container */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0 0 0;
}
/* end container */

.profile{
    display: flex;
    width: 80vw;
    min-height: 100vh;
    /* box-shadow: 0px 0px 11px 1px #bababa; */
}

/* navigation */

.navigation{
    width: 160px;
}

.branding {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.brand-avatar{
  min-width: 100%;
  height: 107px;
}

.brand-avatar img{
  max-width: 100%;
}

.brand-name{
  background-color: #3f3f3f;
  color: #e8e8e8;  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  
}

.brand-name p{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.brand-side-bar{
  width: 99%;
  background: white;
  border: 0.5px solid gray; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.brand-side-bar::before{
  width: 0%;
  height: 100%;
  background-color: #ffdf00;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.6s;
}

.brand-side-bar:hover::before{
  width: 100%;
}

.brand-side-bar:hover .sidebar-item .sidebar-item-des{
  color: #3f3f3f;
}
.sidebar-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px 0 15px;
  z-index: 9;
  color: #2a2a2a;
}


.sidebar-item i {
  font-size: 30px;
}

.sidebar-item p{
  font-family: 'Nunito Sans', sans-serif;
  margin: 5px 0;
  padding: 0;
  font-weight: bold;
}

.sidebar-item .sidebar-item-title{
  font-size: 19px;
}

.sidebar-item .sidebar-item-des{
  font-size: 11px;
  color: #909090ed;
  transition: all 0.6s;
}



/* end navigation */





/* content */

.content{
    flex-grow: 1;
    background-color: white;
    min-height: 1000px;
    position: relative;
    margin-bottom: 100px;
}
.underline-content {
  position: absolute;
  height: 10px;
  /* background: #ffdf00; */
  box-shadow:  0px 15px 0px -8px #ffd42d;
  width: 100%;
  bottom: 0;
}

.underline-content .un-1{
  height: 10px;
  background: #ffdf00;
  width: 100%;
  position: absolute;
  box-shadow:1px 4px 6px 0px #14130f57;
  z-index: 1;
}

.underline-content .un-2{
  z-index: 0;
  top: 10px;
  height: 10px;
  background: #ffd42d;
  width: calc(100% - 20px);
  position: absolute;
  margin-left: 10px;
  box-shadow:1px 4px 6px 0px #14130f57;

}

.underline-content .un-3{
  z-index: -1;
  top: 20px;
  height: 10px;
  background: #ffd42d;
  width: calc(100% - 40px);
  position: absolute;
  margin-left: 20px;
}

.content-title{
  width:100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-item{
  height: auto;
}

.content-item-name{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #3f3f3f;
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
}

.content-item-position{
  color: #bcbbbb;
  font-weight: 300;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;

}

.content-group .content-group-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.under-line{
  width: 25px;
  height: 7px;
  background-color: #ffdf00;
  margin-bottom: 7px;
}

.content-group-item .content-group-title{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  /* color: #5b5858; */
  color: black;
}

.map-connect{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.map-connect .map-api{
  width: 80%;
  height: 400px;
  background: red;
}

.contact-info{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.contact-info .contact-info-item{
  width: 80%;
  display: flex;
}

.contact-info-item .info-box{
  width: 100%;
  border: 1px solid #00000030;
  margin: 20px;
  display: flex;
  padding: 30px 0 50px 0;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
}
.contact-info-item .info-box i{
  font-size: 2.5em;
  margin-bottom: 30px;
  height: 70px;
  width: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.6s;
  color: white;
}

.contact-info-item .info-box:nth-child(1) i{
  box-shadow: 0 0 0 0 #e91e63;
  background: #e91e63;
}

.contact-info-item .info-box:nth-child(1):hover i{
  box-shadow: 0 0 0 400px #e91e63;
}

.contact-info-item .info-box:nth-child(2) i{
  box-shadow: 0 0 0 0 #23e629;
  background: #23e629;
}

.contact-info-item .info-box:nth-child(2):hover i{
  box-shadow: 0 0 0 400px #23e629;
}

.contact-info-item .info-box:nth-child(3) i{
  box-shadow: 0 0 0 0 #2196f3;
  background: #2196f3;
}

.contact-info-item .info-box:nth-child(3):hover i{
  box-shadow: 0 0 0 400px #2196f3;
}

.contact-info-item .info-box:hover p, .contact-info-item .info-box:hover p a {
  color: #fff;
}
.contact-info-item .info-box .info-box-content{
  font-weight: bold;
  font-size: 18px;
  color: #3f3f3f;
  margin-bottom: 20px;
}

.contact-info .info-box p{
  padding: 0;
  margin: 0;
  color: #9ba098f5;
  position: relative;
  z-index: 1;
  font-family: 'Baloo 2', cursive;
  font-weight: 600;
}

.contact-info .info-box p a {
  color: #9ba098f5;
}

.contact-info-item .info-box:first-child{
  margin-left: 0;
}

.contact-info-item .info-box:last-child{
  margin-right: 0;
}
/* end content */



/* social-contact */

.social-contact{
    min-height: 400px;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
}

.social-group::before{
  min-height: 100%;
  background-color: #2a2a2a;
  width: 0%;
  content: "";
  position: absolute;
  top: 0;
  left:0px;
  transition: all 0.6s;
}

.social-group{
    background-color: #ffdf00;
    width: 40px;
    margin-bottom: 2px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.social-group i {
  color: #2a2a2a;
  z-index: 9999;
  transition: all 0.6s;
}

.social-group:hover i{
  color: white;

}
.social-group:hover::before{
  width: 100%;
}



.social-group i {
    font-size: 18px;
    color: #2a2a2a;
} 

.social-2020{
    background-color: #2a2a2a;
    height: 170px;
    width: 40px;
    position: relative;
    cursor: pointer;
}

.social-2020::before{
  content: '';
  top: 0;
  left: 0;
  background: #949494ed;
  width: 100%;
  height: 0%;
  position: absolute;
  transition: all 0.6s;
}

.social-2020:hover a{
  color: #ffdf00;
}

.social-2020:hover::before{
  height: 100%;
}

.social-2020 a{
  position: absolute;
  width: 152px;
  top: 75px;
  left: -56px;
  transform: rotate(90deg);
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  transition: all 0.6s
}

/* end social-contact */